<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cats</key>
	<array>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>-1</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Маша</string>
			<key>image</key>
			<string>cat3.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>0</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>2</integer>
			<key>birth</key>
			<date>2012-03-21T17:14:51Z</date>
			<key>price</key>
			<integer>1000</integer>
			<key>breed</key>
			<string>Греческий</string>
			<key>gender</key>
			<true/>
			<key>name</key>
			<string>Вася</string>
			<key>image</key>
			<string>cat1.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>0</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>4</integer>
			<key>birth</key>
			<date>2008-12-11T18:14:58Z</date>
			<key>price</key>
			<integer>-1</integer>
			<key>breed</key>
			<string>Марсианский Далматин</string>
			<key>gender</key>
			<true/>
			<key>name</key>
			<string>Шарик</string>
			<key>image</key>
			<string>cat4.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>0</integer>
			<key>mother</key>
			<integer>3</integer>
			<key>id</key>
			<integer>1</integer>
			<key>birth</key>
			<date>2011-03-11T18:14:58Z</date>
			<key>price</key>
			<integer>750</integer>
			<key>breed</key>
			<string>Далматин</string>
			<key>gender</key>
			<true/>
			<key>name</key>
			<string>Петя</string>
			<key>image</key>
			<string>cat2.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>500000</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 1</string>
			<key>image</key>
			<string>cat3.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>87</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 2</string>
			<key>image</key>
			<string>cat1.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>222</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 3</string>
			<key>image</key>
			<string>cat2.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>111</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 4</string>
			<key>image</key>
			<string>cat3.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>213</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 5</string>
			<key>image</key>
			<string>cat4.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>654</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 6</string>
			<key>image</key>
			<string>cat2.jpeg</string>
		</dict>
		<dict>
			<key>father</key>
			<integer>4</integer>
			<key>mother</key>
			<integer>0</integer>
			<key>id</key>
			<integer>3</integer>
			<key>birth</key>
			<date>2011-12-31T17:14:58Z</date>
			<key>price</key>
			<integer>3245</integer>
			<key>breed</key>
			<string>Сиамская</string>
			<key>gender</key>
			<false/>
			<key>name</key>
			<string>Гэри 7</string>
			<key>image</key>
			<string>cat3.jpeg</string>
		</dict>
	</array>
</dict>
</plist>
